bin/
*.class
*.jar
*.war
*.log
*.properties
*.project
.metadata/
.idea/
target/classes/algorithm/secureKeyTest.html
target/generated-sources/
target/classes/META-INF/
target/generated-test-sources/
